@using System.Globalization
@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vault</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:url" content="@ViewContext.HttpContext.Request.GetEncodedUrl()">
    <meta property="og:site_name" content="vault">
    <meta property="og:description" content="@(ViewData["Description"] ?? "")">
    <link rel="stylesheet" href="~/css/tailwind.min.css" />
    <environment include="Development">
        <link href="https://unpkg.com/tailwindcss@@^2/dist/tailwind.min.css" rel="stylesheet">
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="bg-gray-800">
            <div class="container mx-4 xl:mx-auto">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <div class="text-white">
                                <a href="/">
                                    vault
                                </a>
                            </div>
                        </div>
                        <div class="hidden md:block">
                            @{
                                string chosenStyles = "bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium";
                                string otherStyles = "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium";
                                var routes = new[]
                                {
                                    ("/Replays/Recent", "Recent replays"),
                                    ("/Maps/MostPlayed", "Most played maps"),
                                    ("/Maps", "Maps")
                                };
                                var matched = false;
                            }
                            <div class="ml-10 flex items-baseline space-x-4">
                                @foreach (var (path, name) in routes)
                                {
                                    if (Context.Request.Path.StartsWithSegments(path, StringComparison.InvariantCultureIgnoreCase) && !matched)
                                    {
                                        matched = true;
                                        <a href="@path" class="@chosenStyles">
                                            @name
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@path" class="@otherStyles">
                                            @name
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-self-end hidden xl:block">
                        <span class="text-white">
                            Generated : @DateTime.Now.ToUniversalTime().ToString($"HH:mm:ss, dd/MM/yyyy UTC", CultureInfo.InvariantCulture)
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="xl:container mx-4 xl:mx-auto">
        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
