@page "{hash?}"
@using System.Globalization
@using osu.Game.Beatmaps.Legacy
@using osu.Game.Scoring
@using osu.Game.Scoring.Legacy
@model ReplayModel
@{
    var hasHash = !string.IsNullOrWhiteSpace(RouteData.Values["hash"]?.ToString());
    var beatmap = Model.Beatmap;
    var hasMap = beatmap != null;
    if (hasHash)
    {
        Array.Sort(Model.Replays, (replay1, replay2) => replay2.Score.CompareTo(replay1.Score));
        ViewData["Title"] = $"Replays for {(hasMap ? $"{beatmap.Title} [{beatmap.Difficulty}]" : RouteData.Values["hash"])}";
    }
    else
    {
        Array.Sort(Model.Replays, (replay1, replay2) => string.Compare(replay2.Timestamp, replay1.Timestamp, StringComparison.Ordinal));
        ViewData["Title"] = $"Most {Model.Replays.Length} recent replays";
    }
}
<br />
@if (hasHash)
{
    if (hasMap)
    {
        <style>
            html {
                background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), 
                    url("https://assets.ppy.sh/beatmaps/@beatmap.BeatmapsetId/covers/cover.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            } 
        </style>
        <div class="text-3xl">
            @Model.Replays.Length replay@(Model.Replays.Length > 1 ? "s" : "") for
            <a class="underline" href="https://osu.ppy.sh/b/@beatmap.BeatmapId">@beatmap.Title [@beatmap.Difficulty]</a>
        </div>
        <br />
        <div class="py-1">
            <span class="tracking-wider border-red-400 border-2 px-4 py-1 text-md rounded mr-2 font-semibold">
                <b>@($"{beatmap.StarRating:F2}")</b> ★</span>
            <span class="tracking-wider border-red-400 border-2 px-4 py-1 text-md rounded mr-2 font-semibold">
                CS <b>@beatmap.CircleSize</b></span>
            <span class="tracking-wider border-blue-400 border-2 px-4 py-1 text-md rounded mr-2 font-semibold">
                AR <b>@beatmap.ApproachRate</b></span>
            <span class="tracking-wider border-green-400 border-2 px-4 py-1 text-md rounded mr-2 font-semibold">
                OD <b>@beatmap.OverallDifficulty</b></span>
            <span class="tracking-wider border-yellow-500 border-2 px-4 py-1 text-md rounded mr-2 font-semibold">
                HP <b>@beatmap.HpDrain</b></span>
            <span class="tracking-wider border-indigo-400 border-2 px-4 py-1 text-md rounded mr-2 font-semibold">
                <i class="far fa-clock"></i> <b>@beatmap.TotalLength.ToString(@"mm\:ss")</b></span>
            <span class="tracking-wider border-gray-500 border-2 px-4 py-1 text-md rounded mr-2 font-semibold">
                BPM <b>@beatmap.Bpm</b></span>
            <span class="tracking-wider border-purple-400 border-2 px-4 py-1 text-md rounded mr-2 font-semibold">
                Max combo : <b>@beatmap.MaxCombo</b><span class="font-normal">x</span></span>
        </div>
    }
}
else
{
    <div class="text-3xl">@ViewData["Title"]</div>
}
<br />
<div class="md:container mx-auto flex justify-center items-center w-full">
    @if (Model.Replays.Length != 0)
    {
        <table class="table-auto w-full border-collapse">
            <thead>
            <tr>
                <th class="border border-green-900">Timestamp (in UTC)</th>
                <th class="border border-green-900">Score</th>
                <th class="border border-green-900">Username</th>
                <th class="border border-green-900">Max combo</th>
                <th class="border border-green-900">Accuracy</th>
                <th class="border border-green-900">Mods</th>
                <th class="border border-green-900 w-1/12">300s</th>
                <th class="border border-green-900 w-1/12">100s</th>
                <th class="border border-green-900 w-1/12">50s</th>
                <th class="border border-green-900 w-1/12">Misses</th>
                @if (!hasHash)
                {
                    <th class="border border-green-900 w-1/12">Map</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var replay in Model.Replays)
            {
                <tr class="@(replay.PerfectCombo ? "bg-green-100" : "") border-green-200 text-center">
                    <td class="border border-green-200 p-2 w-1/6">
                        @DateTime.Parse(replay.Timestamp).ToUniversalTime().ToString($"HH:mm:ss, dd/MM/yyyy", CultureInfo.InvariantCulture)
                    </td>
                    <td class="border border-green-200 p-2">
                        @replay.Score.ToString("n0", CultureInfo.InvariantCulture)
                    </td>
                    <td class="border border-green-200 p-2">
                        @replay.PlayerName
                    </td>
                    <td class="border border-green-200 p-2">
                        @replay.MaxCombo
                    </td>
                    @{
                        var score = new ScoreInfo
                        {
                            Ruleset = ReplayModel.Rulesets[replay.Mode].RulesetInfo,
                            RulesetID = replay.Mode,
                        };
                        score.SetCount50(replay.Count50);
                        score.SetCount100(replay.Count100);
                        score.SetCount300(replay.Count300);
                        score.SetCountGeki(replay.CountGeki);
                        score.SetCountKatu(replay.CountKatsu);
                        score.SetCountMiss(replay.CountMiss);
                        ReplayModel.ScoreDecoder.CalculateAccuracy(score);
                    }
                    <td class="border border-green-200 p-2">
                        @($"{score.Accuracy * 100:F3}")%
                    </td>
                    <td class="border border-green-200 p-2">
                        @{
                            var mods = ReplayModel.ModsFromModbits(ReplayModel.Rulesets[replay.Mode], (LegacyMods) replay.Mods);
                            var acronyms = string.Join(", ", mods.Select(mod => mod.Acronym));
                        }
                        @(string.IsNullOrWhiteSpace(acronyms) ? "None" : acronyms)
                    </td>
                    <td class="border border-green-200 p-2 w-1/12">@replay.Count300</td>
                    <td class="border border-green-200 p-2 w-1/12">@replay.Count100</td>
                    <td class="border border-green-200 p-2 w-1/12">@replay.Count50</td>
                    <td class="border border-green-200 p-2 w-1/12">@replay.CountMiss</td>
                    @if (!hasHash)
                    {
                        <td class="border border-green-200 p-2 w-1/12">
                            <a href="/replays/@replay.BeatmapHash">Map</a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div>There's no replay for map with hash @RouteData.Values["hash"].</div>
    }
</div>